<div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header bg-{{ cls }} text-light">
            <strong class="me-auto">{{ cls }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {{ msg }}
            
          </div>
        </div>
      </div>

<div class=".wrap-login100 my-4 pb-4">
    <form method="post"  class="login100-form validate-form p-l-55 p-r-55 p-t-178">
        {% csrf_token %}
        <span class="login100-form-title">
           Profile
        </span>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Bio">
            <textarea class=".input100 form-control " type="text" unicorn:model="profile.desc" autofocus="" maxlength="254" required="" id="id_desc" placeholder="Bio" rows="6"></textarea>
            <!--span class="focus-input100"></span-->
        </div>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter profession">
            <input class="input100" type="text" unicorn:model="profile.profession"
                maxlength="128" required id="id_profession" placeholder="Headline" required>
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter alias">
            <input class="input100" type="text" unicorn:model="user.alias"
                maxlength="128" required id="id_alias" placeholder="alias" >
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter first_name">
            <input class="input100" type="text" unicorn:model="user.first_name"
                autocomplete="first_name" maxlength="254" required id="id_first_name" placeholder="first name">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter last_name">
            <input class="input100" type="text" unicorn:model="user.last_name" 
                autocomplete="last_name"  required id="id_last_name" placeholder="last name">
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn"  unicorn:click="save()">
                Update Profile
            </button>
        </div>
       
    </form>
</div>
</div>