{% load unicorn %}
<div class=".wrap-login100 my-4 pb-4">
    <h2 class="title text-center  py-4">Socials</h2>
    <div class="mx-4 p-3">

        {% for med in medias %}
        <div class="input-group m-2" unicorn:key="med.pk">
            <!--span class="input-group-text">
                <i class="{{ med.media.icon }}"></i>
            </span-->
            <span class="input-group-text">
                <i class="{{ med.media.icon }}"></i>
            </span>
            <input type="text" class="form-control"  unicorn:model.defer="medias.{{ forloop.counter0 }}.user_name">
            <span class="input-group-text">
                <i class="fa fa-save text-success" role="button" unicorn:click="save_single_social({{forloop.counter0}})" id="save-{{ forloop.counter0 }}"></i>
            </span>
            <span class="input-group-text">
                <i class="fa fa-cancel text-danger" unicorn:click="delete_social({{ med.pk }})" role="button" id="delete-{{ forloop.counter0 }}"></i>
            </span>
        </div>
        {% endfor %}
    </div>
    <div class="login100-form validate-form p-l-55 p-r-55 pt-4">
        {% csrf_token %}
        <div class="form-row row">
            <div class="col">
                <div class="wrap-input100 validate-input m-b-16" data-validate="Social media name">
                    <select id="media" class="form-select input100" unicorn:model="name">
                        <option value=""  selected>Social media</option>
                        {% for mtype in media_types %}
                        <option value="{{ mtype.name }}">{{ mtype.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter user_name">
                    <input class="input100" type="text" unicorn:model="user_name"  required
                        id="id_user_name" placeholder="username">
                </div>
            </div>
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit" unicorn:click="save_social()" >
                Add Social
            </button>
        </div>
    </div>
</div>