<!DOCTYPE html>
<html lang="en">
	{% load static %}
{% load unicorn %}
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="robots" content="">
	<meta name="description" content="Me">
	<meta property="og:title" content="Me">
	<meta property="og:description" content="Me">
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON -->
	<link rel="icon" type="image/x-icon" href="https://mooncart.dexignzone.com/xhtml/images/favicon.png">

	<!-- PAGE TITLE HERE -->
	<title>Me</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
		rel="stylesheet">
		<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/css-hamburgers/hamburgers.min.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'form/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'form/css/main.css' %}" >
	<!--link rel="stylesheet" type="text/css" href="{% static 'switch/dark-mode.css' %}"-->
	
	{% unicorn_scripts %}
</head>
<body>	
	{% csrf_token %}
	<div class="container m-3">
		<div class="row justify-content-center d-flex m-3">
			<div class="col-10">
				<nav  class="navbar navbar-expand-lg navbar-light p-3">
				
					<a class="navbar-brand" href="#">Me</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					  <ul class="navbar-nav">
						<li class="nav-item">
						  <a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="#">Pricing</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
						</li>
						<li class="nav-item">
						  <div class="nav-link">
	  
							  <div class="form-check form-switch">
								<input type="checkbox" class="form-check-input" id="darkSwitch">
								<label class="custom-control-label" for="darkSwitch">Dark Mode</label>
							  </div>
							  <script href="{% static 'switch/dark-mode-switch.min.js' %}"></script>
					
							</div>
						</li>
					  </ul>
					</div>
				   
				  
				</nav>
			</div>
			
		</div>
		
	</div>
		{% block content %}{% endblock %}
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script><!-- JQUERY MIN JS -->
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script><!-- BOOTSTRAP MIN JS -->
	<script src="{% static 'form/vendor/countdowntime/countdowntime.js' %}"></script><!-- BOOTSTRAP MIN JS -->
	<script src="{% static 'form/js/main.js' %}"></script><!-- BOOTSTRAP MIN JS -->
	<script>
		success = function() {
		var toastElList = [].slice.call(document.querySelectorAll('.toast'))
		var toastList = toastElList.map(function(toastEl) {
			return new bootstrap.Toast(toastEl)
		})
		toastList.forEach(toast => toast.show())
		}
</script>
<script src="{% static 'switch/dark-mode-switch.min.js' %}"></script>
	
</body>
</html>