{% extends 'gen_base.html' %}
{% load unicorn %}
{% block content %}

<div class="limiter">
	<div class="container">
		<div class="row vh-100 align-items-center justify-content-center">
			<div class="col-lg-6">
				<div class="wrap-100 py-4">
					<form method="post" action="/upload/" enctype="multipart/form-data"
						class="login100-form validate-form p-l-55 p-r-55 .p-t-178">
						{% csrf_token %}
						<!--span class="login100-form-title">
							Upload
						</span-->
						<div>
							{% if form.errors %}
							<p class="text-center m-b25">Your username and password didn't match. Please try again.</p>
							{% endif %}
						</div>
						<div class=".wrap-input100 m-b-16 text-center">
							{% if user.user_profile.pic %}
							<img src="{{ user.user_profile.pic.url }}" class="img img-thumbnail img-responsive" alt="{{ user.get_full_name }}" width="400">
							{% else %}
							<img src="/media/dummy.png" alt="{{ user.get_full_name }}" width="400" class="img img-thumbnail img-responsive img-fluids">
							
							{% endif %}
						</div>
						<div class=".wrap-input100 m-b-16">
							<input class="form-control" type="file" name="pic" required id="id_pic" accept="image/*,capture=camera" >
							<p>Drop-down and Images only</p>
						</div>

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit">
								upload
							</button>
						</div>

					</form>
				</div>
			</div>
			<div class="col-lg-6 overflow-y-auto overflow-x-hidden" style="height: 80vh;">
				
				<div class="row justify-content-center">
					<div class="col-10">
						{% unicorn 'update-profile' %}
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-10">
						{% unicorn 'user-socials' %}
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-10">
						{% unicorn 'sections' %}
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}