{% extends 'gen_base.html' %}
{% load unicorn %}
{% block content %}
<div class="position-fixed top-0 .end-0 p-3" style="z-index: 11">
	<div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
	  <div class="toast-header bg-success text-light">
		<strong class="me-auto">Success</strong>
		<small>11 mins ago</small>
		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	  </div>
	  <div class="toast-body">
		Profile updated successfully!
	  </div>
	</div>
  </div>
<div class="limiter">
	<div class="container">
		<div class="row vh-100 align-items-center">
			<div class="col-lg-6">
				<div class="wrap-100 py-4">
					<form method="post" action="/upload/" enctype="multipart/form-data"
						class="login100-form validate-form p-l-55 p-r-55 .p-t-178">
						{% csrf_token %}
						<!--span class="login100-form-title">
							Upload
						</span-->
						<div>
							{% if form.errors %}
							<p class="text-center m-b25">Your username and password didn't match. Please try again.</p>
							{% endif %}
						</div>
						<div class="wrap-input100 m-b-16">
							<img src="{{ user.user_profile.pic.url }}" alt="" width="400">
						</div>
						<div class="wrap-input100 m-b-16">
							<input class="form-control .input100" type="file" name="pic" required id="id_pic" accept="image/*,capture=camera" >
							<p>Drop-down and Images only</p>
						</div>

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit">
								upload
							</button>
						</div>

					</form>
				</div>
			</div>
			<div class="col-lg-6 overflow-y-auto" style="height: 80vh;">
				{% unicorn 'update-profile' %}
			</div>
		</div>

	</div>
</div>
{% endblock %}